<template>
  <v-content>
      <v-card flat>
        <v-toolbar dark flat extended>
          <v-toolbar-title>NLT Console</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn @click.native="logout">
              <v-icon>exit_to_app</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-layout row pb-2>
          <v-flex xs8 offset-xs2>
            <v-card class="card--flex-toolbar elevation-17">
              <v-tabs icons-and-text centered dark>
                <v-tabs-slider color="white"></v-tabs-slider>
                  <v-tab href="#portfolio-tab" @click="goToPortfolioTab">
                    Portfolio
                    <v-icon>view_list</v-icon>
                  </v-tab>
                  <v-tab href="#add-project-tab">
                    Add new Project
                    <v-icon>add_box</v-icon>
                  </v-tab>
                  <v-tab href="#edit-project-tab">
                    Edit Project
                    <v-icon>mode_edit</v-icon>
                  </v-tab>
                  <v-tab-item id="portfolio-tab">
                    <v-toolbar flat>
                      <v-spacer></v-spacer>
                      <v-toolbar-title>All the projects I have done so far</v-toolbar-title>
                      <v-spacer></v-spacer>
                    </v-toolbar>
                    <portfolioTabComponent :portfolioData="projectsPortfolioData"></portfolioTabComponent> 
                  </v-tab-item>
                  <v-tab-item id="add-project-tab">
                    <v-toolbar flat>
                      <v-spacer></v-spacer>
                      <v-toolbar-title>Fill the Information about the new Project</v-toolbar-title>
                      <v-spacer></v-spacer>
                    </v-toolbar>
                      <v-card flat>
                          <v-layout fill-height align-center justify-center wrap row>
                            <v-flex xs12 sm6 md6 lg5 xl4>
                              <v-form v-model="newProjectFormValid" ref="newProjectForm">
                                <v-text-field
                                  color="black"
                                  label="Project Name"
                                  v-model="newProjectName"
                                  :rules="newProjectNameRules"
                                  required></v-text-field>
                                <v-text-field
                                  color="black"
                                  label="Project Url"
                                  v-model="newProjectUrl"
                                  :rules="newProjectUrlRules"
                                  required></v-text-field>
                                <v-text-field
                                  color="black"
                                  label="Project Description"
                                  v-model="newProjectDescription"
                                  :rules="newProjectDescriptionRules"
                                  required
                                  multi-line></v-text-field>
                                <v-divider></v-divider>
                                <v-subheader>Add Project Image(s)*</v-subheader>
                                <v-btn dark @click="clickOnInputFile">
                                  <v-icon dark>file_upload</v-icon>
                                  <input
                                    class="none" 
                                    type="file" 
                                    multiple 
                                    ref="fileInput"
                                    @change="onFileChange">
                                </v-btn>
                                <span>{{ displayNumberOfFiles }}</span>
                                <v-divider></v-divider>
                                <v-btn dark @click="addNewProject"
                                  :disabled="!areInputValid">Add project</v-btn>
                                <v-btn dark @click="clearNewProject">Clear</v-btn>
                                <div v-if="showNewProjectUploadLoader">
                                  <v-progress-linear :indeterminate="true"></v-progress-linear>
                                </div>
                              </v-form>
                            </v-flex>
                          </v-layout>
                      </v-card>
                  </v-tab-item>
                  <v-tab-item  id="edit-project-tab">
                    <v-card flat>
                      <v-card-text>Edit project tab</v-card-text>
                    </v-card>
                  </v-tab-item>
              </v-tabs>
            </v-card>
          </v-flex>
        </v-layout>
      </v-card>
    <v-snackbar
      :timeout="snackbarTimeout"
      top
      :color="snackbarColor"
      v-model="snackbar">
      <v-alert :type="snackbarColor" value="true">
        {{ snackbarMsg }}
      </v-alert>
    </v-snackbar>
  </v-content>
</template>

<style scoped>
.card--flex-toolbar {
  margin-top: -72px;
}

.none {
  display: none
}
</style>

<script>
import app from './firebase'
import portfolioTabComponent from './portfolioTabComponent'

const storageRef = app.storage().ref()
const database = app.database()
const MAX_FILES_FOR_UPLOAD = 5

export default {
  components: {
    portfolioTabComponent
  },
  data: () => ({
    newProjectName: '',
    newProjectNameRules: [
      v => !!v || 'Project Name is required',
      v => (v && v.length >= 3) || 'Project Name should not be so short'
    ],
    newProjectDescription: '',
    newProjectDescriptionRules: [
      v => !!v || 'Project Description is required'
    ],
    newProjectUrl: '',
    newProjectUrlRules: [
      v => !!v || 'Projecr Url is required'
    ],
    newProjectFormValid: false,
    files: null,
    snackbar: false,
    snackbarTimeout: 3000,
    snackbarColor: 'error',
    snackbarMsg: '',
    showNewProjectUploadLoader: false,
    projectsPortfolioData: {},
    haveServerDataBeenUpdated: false
  }),
  created () {
    console.log('On created!!!!!!!!')
    let currentUser = app.auth().currentUser
    if (!currentUser) {
      this.logout()
    }

    // Keep the Data in Sync with the DataBase
    database.ref('projects/').on('value', (snapshot) => {
      console.log('Value has been changed on the database')
      console.log(snapshot.val())
      this.projectsPortfolioData = snapshot.val()
    })
  },
  computed: {
    areInputValid: function () {
      return (this.files && this.newProjectFormValid)
    },
    displayNumberOfFiles: function () {
      let nbrOfFiles = (this.files) ? this.files.length : 0
      let stringToDisplay = (nbrOfFiles > 0) ? (nbrOfFiles > 1) ? `${nbrOfFiles} Files selected`
        : `One File selected` : 'No file Seleted '
      return stringToDisplay
    }
  },
  methods: {
    openProjectFromPortfolio (key) {
      console.log(`Open Project: ${key}`)
    },
    dataBasePolling () {
      // TODO: Nor more needed
      database.ref('projects').once('value').then(function (snapshot) {
        this.projectsPortfolioData = snapshot.val()
        console.log(snapshot.val())
      }).catch((reason) => {
        console.log(reason)
        this.showSnackBar(
          {
            color: 'error',
            msg: 'An Error occured while retrieving Project Informations'
          })
      })
    },
    goToPortfolioTab: function () {
      // TODO: No more needed
      if (this.haveServerDataBeenUpdated) {
        console.log('Reload Data from the Server')
        this.haveServerDataBeenUpdated = !this.haveServerDataBeenUpdated
      } else {
        console.log('No Data Have Changed. Use the projectsPortfolioData data')
      }
    },
    clickOnInputFile: function () {
      this.$refs.fileInput.click()
    },
    addNewProject: function () {
      this.showNewProjectUploadLoader = true
      /**
        The Project data format is the following
        Project:
          - name
          - description
          - url
      */
      let that = this
      // Retrieve the new Project data and upload to firebase
      const newProjectToUlpload = {
        name: this.newProjectName,
        description: this.newProjectDescription,
        url: this.newProjectUrl
      }

      const newProjectId = this.newProjectName.trim().toLowerCase()
      const newProjectRefPath = `projects/${newProjectId}`

      // upload Projects Information to Firebase Data base
      database.ref(newProjectRefPath).set(newProjectToUlpload).catch(reason => {
        console.log(reason)
        that.showSnackBar(
          {
            color: 'error',
            msg: 'An Error occured while saving Project Informations'
          })
      })

      // Upload the New Project Pictures to Firebase
      let uploadTaskPromisesArray = []
      this.files.forEach(fileToUpload => {
        let uploadTaskPromise = storageRef
          .child(newProjectRefPath + '/' + ((fileToUpload.name) ? fileToUpload.name : new Date()))
          .put(fileToUpload)
        uploadTaskPromisesArray.push(uploadTaskPromise)
      })

       // We have the array of uploading Tasks Promises
      Promise.all(uploadTaskPromisesArray)
        .then(() => {
      // Stop uploading Spinner
          that.showNewProjectUploadLoader = false
          that.showSnackBar(
            {
              color: 'info',
              msg: 'Upload was successful!'
            })
          that.clearNewProject()
        })
        .catch(error => {
          console.log(error)
          that.showSnackBar(
            {
              color: 'error',
              msg: 'An Error occured while saving Project Informations'
            })
        })
    },
    onFileChange: function ($event) {
      if ($event) {
        let selectedFiles = $event.target.files || $event.dataTransfer.files
        selectedFiles = [ ...selectedFiles ]
        if (selectedFiles.length > 5) {
          this.showSnackBar(
            {
              color: 'warning',
              msg: `You can select up to ${MAX_FILES_FOR_UPLOAD} files`
            })
          this.$refs.fileInput.value = ''
        } else {
          let imgFiles = selectedFiles.filter(file => file.type.indexOf('image') >= 0)
          let tmp = selectedFiles.length - imgFiles.length
          if (tmp !== 0) {
            let msg = `${tmp} of the files you have selected are not images`
            this.showSnackBar(
              {
                color: 'warning',
                msg
              }
           )
            this.$refs.fileInput.value = ''
          } else {
            this.files = imgFiles
          }
        }
      } else {
        this.showSnackBar(
          {
            color: 'error',
            msg: 'Something Wrong happened'
          })
      }
    },
    clearNewProject: function () {
      this.$refs.newProjectForm.reset()
      this.$refs.fileInput.value = ''
      this.files = null
    },
    logout: function () {
      app.auth().signOut()
        .then(() => this.$router.push('/'))
        .catch(error => alert(error))
    },
    showSnackBar: function ({ color, msg }) {
      this.snackbar = true
      this.snackbarColor = color
      this.snackbarMsg = msg
    }
  }
}
</script>
