<template>
  <v-content>
    <v-jumbotron :gradient="gradient" id="pfc-login">
      <v-container fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm6 md6 lg5 xl4>
            <v-card class="elevation-7">
              <v-toolbar dark>
                <v-toolbar-title><v-icon color="white">fas fa-terminal</v-icon></v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form v-model="loginFormValidity" ref="loginForm">
                  <v-text-field 
                    ref="emailField"
                    color="black" 
                    prepend-icon="email" 
                    label="E-mail" 
                    v-model="email"
                    @keyup.enter="formFieldKeyUpEnter('email')"
                    :rules="emailRules"
                    required></v-text-field>
                  <v-text-field
                    ref="pwdField"
                    color="black"
                    prepend-icon="lock" 
                    label="Password" 
                    type="password" 
                    v-model="pwd" 
                    @keyup.enter="formFieldKeyUpEnter('pwd')"
                    :rules="pwdRules"
                    required></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn dark @click="resetFormFields">clear</v-btn>
                <v-btn dark @click="firebaseLogin" :disabled="!loginFormValidity">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
      <v-snackbar
        :timeout="snackbarTimeout"
        top
        color="error"
        v-model="snackbar">
        <v-alert type="error" value="true">
          {{ snackbarMsg }}
        </v-alert>
      </v-snackbar>
    </v-jumbotron>
  </v-content>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#pfc-login {
  height: 100% !important;
}
</style>

<script>
import app from './firebase'

export default {
  data: () => ({
    gradient: '135deg, #E0E0E0, #757575 50%, #000000',
    loginFormValidity: false,
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
    ],
    login: '',
    pwd: '',
    pwdRules: [
      v => !!v || 'Password is required'
    ],
    snackbar: false,
    snackbarTimeout: 2000,
    snackbarMsg: ''
  }),
  methods: {
    firebaseLogin: function () {
      let that = this
      app.auth().signInWithEmailAndPassword(this.email, this.pwd).then(() => {
        that.$router.push('console')
      }).catch(error => {
        let errorCode = error.code
        that.snackbarMsg = (errorCode === 'auth/wrong-password') ? 'Wrong Password' : error.message
        that.snackbar = true
      })
    },
    formFieldKeyUpEnter: function (fieldName) {
      if (this.loginFormValidity) {
        this.firebaseLogin()
      } else {
        let originField
        let otherField;

        [ originField, otherField ] = (fieldName === 'email') ? [ this.$refs.emailField, this.$refs.pwdField ]
          : [ this.$refs.pwdField, this.$refs.emailField ]
        let originFieldClasses = originField.$el.className || ''
        if (originFieldClasses.indexOf('error') < 0) {
          otherField.focus()
        }
      }
    },
    resetFormFields: function () {
      this.$refs.loginForm.reset()
    }
  }
}
</script>

