<template>
    <v-card flat>
        <v-layout fill-height align-center justify-center wrap row>
          <v-flex xs12 sm6 md6 lg5 xl4>
            <v-list two-line>
              <template v-for="( value, key, index ) in portfolioData">
                <v-divider v-if="index > 0" :key="'divider' + key"></v-divider>
                <v-list-tile  :key="key" avatar @click="openProjectFromPortfolio(key)">
                  <v-list-tile-avatar>
                    <v-icon>folder</v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title>{{ value.name }}</v-list-tile-title>
                    <v-list-tile-sub-title>{{ value.description }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
              </template>
            </v-list>
          </v-flex>
          <v-dialog v-model="dialog" max-width="540">
            <v-card>
              <v-card-title class="headline">{{ objectForDialog.name }}</v-card-title>
              <v-card-text>{{ objectForDialog.description }}</v-card-text>
            </v-card>
          </v-dialog>
        </v-layout>
    </v-card>
</template>

<script>

// import app from './firebase.js'

// const storageRef = app.storage().ref()

export default {
  props: {
    portfolioData: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    dialog: false,
    objectForDialog: {}
  }),
  methods: {
    openProjectFromPortfolio (key) {
      this.dialog = true
      this.objectForDialog = (key in this.portfolioData) ? this.portfolioData[ key ] : {}
      console.log(this.objectForDialog)
      console.log(key)
      console.log(this.portfolioData)
      /* storageRef.child(this.objectForDialog.name).getMetadata().then(metadata => {
        console.log(metadata)
      }) */
    }
  },
  computed: {

  }
}
</script>
